.halyer-load div {
    width: 5px;
    height: 15px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
    margin: 0 auto;
}
@-webkit-keyframes loader1 {
    0% {
        opacity: 0.3;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.hlayer-load div:nth-child(1) {
    top: -20px;
    left: 0;
    -webkit-animation: loader1 0.5s -0.4s infinite ease-in-out;
}
.hlayer-load div:nth-child(2) {
    top: -13px;
    left: 13px;
    -webkit-transform: rotate(45deg);
    -webkit-animation: loader1 0.5s -0.35s infinite ease-in-out;
}
.hlayer-load div:nth-child(3) {
    top: 0px;
    left: 20px;
    -webkit-transform: rotate(90deg);
    -webkit-animation: loader1 0.5s -0.30s infinite ease-in-out;
}
.hlayer-load div:nth-child(4) {
    top: 13px;
    left: 13px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: loader1 0.5s -0.25s infinite ease-in-out;
}
.hlayer-load div:nth-child(5) {
    top: 20px;
    left: 0px;
    -webkit-transform: rotate(0deg);
    -webkit-animation: loader1 0.5s -0.2s infinite ease-in-out;
}
.hlayer-load div:nth-child(6) {
    top: 13px;
    left: -13px;
    -webkit-transform: rotate(45deg);
    -webkit-animation: loader1 0.5s -0.15s infinite ease-in-out;
}
.hlayer-load div:nth-child(7) {
    top: 0px;
    left: -20px;
    -webkit-transform: rotate(90deg);
    -webkit-animation: loader1 0.5s -0.1s infinite ease-in-out;
}
.hlayer-load div:nth-child(8) {
    top: -13px;
    left: -13px;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: loader1 0.5s 0s infinite ease-in-out;
}

/*各大进入函数的类*/
.hlayer-animate1 {
    animation: hlayer-bottomIn 0.3s -0.1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes hlayer-bottomIn{
    from{
        transform: translate(0,2000px);
    }
    to{
        transform:  translate(0,0);
    }
}
.hlayer-animate2 {
    animation: hlayer-topIn 0.3s -0.1s ease-in-out;
}
@keyframes hlayer-topIn{
    from{
        transform: translate(0,-2000px);
    }
    to{
        transform:  translate(0,0);
    }
}
.hlayer-animate3 {
    animation: hlayer-scaleIn 0.3s ease-in-out;
}
@keyframes hlayer-scaleIn {
    from{
        transform:scale(0,0);
    }
    to{
        transform: scale(1,1);
    }
}
