
.hlayer{
  .hlayer-content-photo-text{
    position:absolute;
    width:100%;
    background:rgba(0,0,0,0.5);
    color:#fff;
    bottom:0;
    text-align:center;
    display:none;
    height: 40px;
    line-height: 40px;
  }

  .hlayer-content-photo-next,.hlayer-content-photo-pre{
    height:25px;
    width:25px;
    background: transparent;
    border:7px #d3d3d3 solid;
    position:absolute;
    top:50%;
    margin-top:-17px;
    border-radius:5px;
    cursor:pointer;
    display:none;
  }
  .hlayer-content-photo-next{
    transform:rotate(45deg);
    right:15px;
    border-left-color:transparent;
    border-bottom-color:transparent;
  }
  .hlayer-content-photo-pre{
    transform:rotate(45deg);
    left:15px;
    border-right-color:transparent;
    border-top-color:transparent;
  }
}