html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
address,
code,
em,
img,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: inherit;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  color: inherit;
}

img {
  border: 0;
}

table {
  width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

input {
  background: transparent;
  border: none;
}

input[type=submit] {
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:link,
:visited {
  text-decoration: none;
}

pre {
  font-family: "Lucida Console", Consolas, "Courier New", Tahoma;
  color: #666;
  text-indent: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

.form-group {
  padding: 0px 20px 10px;
  height: 40px;
}
.form-group label {
  width: 10%;
  text-align: right;
  display: inline-block;
}
.form-group input {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  height: 24px;
  width: 50%;
  padding: 6px 5px;
  margin-left: 5%;
  background: #fff;
}
.form-group input[disabled="disabled"] {
  cursor: not-allowed;
}

.radio {
  display: inline-block;
  margin-left: 25px;
}
.radio .radio-inline {
  padding-left: 20px;
  padding-top: 13px;
  position: relative;
  box-sizing: border-box;
  margin-right: 15px;
  display: inline-block;
  width: auto;
}
.radio input[type="radio"] {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 14px;
  display: inline-block;
}

.undisplay {
  display: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}

p {
  text-indent: 2em;
}

.floatfix:after {
  content: '';
  clear: both;
  display: table;
}

.floatfix {
  *zoom: 1;
}

ul, li {
  list-style: none;
}

input.test {
  height: 50px;
  padding: 10px;
  border: 1px solid #aaa;
  background: #fff;
  min-width: 100px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  float: left;
  margin: 20px 20px 0 0;
  border-radius: 2px;
}

.fast-watch {
  margin-top: 50px;
}

header img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.title {
  border-bottom: 1px solid #aaa;
  position: relative;
  margin-bottom: 20px;
}

.title span {
  width: 85px;
  position: absolute;
  background: #fff;
  height: 40px;
  left: 50%;
  text-align: center;
  margin-left: -45px;
  top: -20px;
  line-height: 40px;
  padding-left: 5px;
  font-size: 20px;
  font-family: "microsoft yahei";
  color: #333;
  letter-spacing: 5px;
}

code {
  background: #eee;
  border: 1px solid #aaa;
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

code li {
  line-height: 1.5em;
  color: #333;
}
code li span.type {
  margin-right: 30px;
  color: #a23e3e;
}
code li span.note {
  color: #979797;
}

.container .part {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container .part:first-child {
  margin-top: 0px;
}

input.learn {
  height: 40px;
  padding: 5px;
  border: 1px solid #aaa;
  background: #fff;
  min-width: 80px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  float: left;
  margin: 8px 0px 8px 8px;
  border-radius: 2px;
}

.part input.learn.first {
  margin-left: 30px;
}

li.indent1 {
  text-indent: 2em;
}

li.indent2 {
  text-indent: 4em;
}

.downloadcon {
  margin-top: 10px;
}

.downloadcon .star, .downloadcon .download {
  width: 100px;
  padding: 10px;
  height: 30px;
  background: #4aa8d8;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.downloadcon .star:hover, .downloadcon .download:hover {
  background: #169fe6;
}

.downloadcon .star {
  float: left;
}

.downloadcon .download {
  float: right;
}

.downloadcon .star a, .downloadcon .download a {
  line-height: 30px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
}

footer {
  height: 30px;
  padding: 35px 0;
  background: #bdbcbc;
}

footer p {
  text-align: center;
}
